{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h2>Review list</h2>
            <table class="table">
                <thead>
                    <th>Id</th><th>Review</th><th>Feedback (Score)</th><th>+ count</th><th>- count</th><th>Detail</th>
                </thead>
                <tbody>
                {% for review in reviews %}
                    <tr><td>{{ review.id }} <a href="/review/{{ review.id }}/delete">Delete</a></td><td>{{ review.review }}</td><td>{{ review.feedback == 1 ? 'POSITIVE' : (review.feedback == -1 ? 'NEGATIVE' : 'NEUTRAL') }} {{ review.score }}</td><td>{{ review.positiveCount }}</td><td>{{ review.negativeCount }}</td><td>
                        <ul>
                            {% for expression in review.lines %}
                                <li>{{ expression.expression }} {{ expression.score }} {{ expression.feedback == 1 ? 'POSITIVE' : (expression.feedback == -1 ? 'NEGATIVE' : 'NEUTRAL') }}</li>
                            {% endfor %}
                        </ul>
                    </td></tr>
                {% endfor %}
                </tbody>
            </table>
            <p><a href="/rate/new" class="btn btn-link" role="button">Rate a review</a></p>    
        </div>
    </div>
{% endblock %}