{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <p>
                <ul>
                    {% for expression in list %}
                        <li>{{ expression.expression }} {{ expression.score }} {{ expression.feedback == 1 ? 'POSITIVE' : (expression.feedback == -1 ? 'NEGATIVE' : 'NEUTRAL') }}</li>
                        {% endfor %}
                        {# for corpus in processed %}
                        <li>{{ corpus.lemma }} {{ corpus.stem }} {{ corpus.class }}</li>
                        {% endfor #}
                </ul>
            </p>
        </div>
    </div>
{% endblock %}